body {
  font-family: 'Inter', sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

  overflow-x: hidden !important;
	margin: 0 auto;
}

.container {
	max-width: 100% !important;
  overflow-x: hidden !important;
}

a, a:active, a:focus, a:visited {
	text-decoration: none;

} 

header, .left-side-header, .right-side-header, .nav, .link-pancake {
	display: flex;
	align-items: center;
}

header {
	justify-content: space-between;
	height: 80px;
	padding-right: 116px;
	padding-left: 116px;
	background-color: #FFFFFF;
	max-width: 1440px;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 40px;
	cursor: pointer;
}

.logo-text {
	margin-left: 6px;
	font-size: 16px;
	font-weight: 600;
	line-height: 140%;
}

.nav-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: #A6A6A6;
	margin-right: 32px;
	cursor: pointer;
}

.nav-item:hover, .nav-item-active {
	color: #25488D;
	cursor: pointer;
}
.btn {
	padding: 10px 16px;
	background: #25488D;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	border: 1px solid #25488D;
	cursor: pointer;
}

.link-pancake {
	margin-right: 32px;
	cursor: pointer;
}

.link-pancake p {
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #3D3D3D;
	margin-left: 8px;
}

.btn-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #FFFFFF;
}

.menu-sm {
	display: none;
}

.nav-sm {
	display: none;
}

/***************************************** intro *****************************************/

/* .rounded-intro {
	background-color: #F4F9FF;
} */

.intro {
	padding: 116px;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.left-side-intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slogan {
	font-weight: 600;
	font-size: 46px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #25488D;
	margin-top: 16px;
}

.content-intro {
	font-size: 18px;
	line-height: 140%;
	color: #828282;
	margin-top: 16px;
	margin-bottom: 32px;
}

.btn-download {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 18px;
}

.btn-download .btn-text {
	margin-right: 8px;
}
.title-section {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #40A9FF;
}

.content-section {
	font-weight: 600;
	font-size: 34px;
	line-height: 140%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #25488D;
}

.quote-section {
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #828282;
}

.background-rotate {
	width: 605px;
	height: 605px;
	right: 0px;
	top: -55px;
	position: absolute;
	z-index: -10;
	overflow:hidden;
	background: linear-gradient(344.4deg, rgba(64, 169, 255, 0.5) -33.1%, rgba(64, 169, 255, 0) 87.51%);
	border-radius: 100px;
	transform: rotate(45deg);
}

.right-side-intro img{
	z-index: 2;
	height: 500px;
	margin-left: 80px;
	max-height: 80vw;
}

/***************************************** feature *****************************************/

.feature {
	background: #25488D;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rounded-content-feautre {
	max-width: 1440px;
	margin: 0 auto;
}

.feature .title-section {
	padding-top: 70px;
	color: #FAAD14;
	text-align: center;
}

.feature .content-section {
	color: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}

.feature .quote-section {
	color: #FFFFFF;
	margin-bottom: 40px;
	text-align: center;
}

.connect-pos {
	padding: 40px 36px 40px 36px;
	margin-left: 80px;
	margin-right: 80px;
	background: #FFFFFF;
	border-radius: 8px 8px 0px 0px;
}

.rounded-side-pos {
	display: flex;
	justify-content: space-between;
}

.feature-title {
 display: flex;
 justify-content: start;
 align-items: center;
}

.before-title {
	width: 32px;
	height: 4px;
	background: #40A9FF;
	margin-right: 16px;
	margin-left: 24px;
}

.right-side-manage .before-title {
	margin-left: 0;
}

.other-feature .before-title {
	margin-left: 36px;
}

.feature-title p {
	font-weight: 500;
	font-size: 34px;
	line-height: 140%;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #3D3D3D;
}

.feature-content {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #3D3D3D;
	margin-top: 16px;
	margin-bottom: 8px;
}

.feature-quote {
	font-size: 14px;
	line-height: 140%;
	color: #3D3D3D;
}

.fist-connect-pos {
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
	padding: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
	margin-top: 32px;
	background: #FFFFFF;
}
.rounded-feature-item {
	display: flex;
	justify-content: space-between;
	margin-left: 24px;
	
}

.feature-item-left, .feature-item-right {
	padding: 24px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

.feature-item-left {
	margin-right: 24px;
}

.left-side-connect-pos, .right-side-connect-pos {
	margin-bottom: 40px;
}

.right-side-connect-pos img {
	height: 428px;
	margin-left: 100px;
	max-height: 70vw;
}

/***************************************** manage *****************************************/

.manage {
	background-color: #FFFFFF;
	padding: 116px;
	
	max-width: 1440px;
	margin: 0 auto;
}

.rounded-manage {
	display: flex;
	justify-content: space-between;
}

.left-side-manage img {
	height: 456px;
	margin-right: 34px;
	max-height: 70vw;
}

.feature-title-sm {
	visibility: hidden;
}

.manage-item {
	padding: 24px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

.manage-first-item {
	margin-top: 32px;
	margin-bottom: 24px;
}

/***************************************** other-feature *****************************************/

.other-feature {
	padding: 96px 116px 96px 116px;
	max-width: 1440px;
	margin: 0 auto;
}

.rounded-other-feature {
	display: flex;
	justify-content: space-between;
}

.left-side-other-feature {
	display: flex;
	flex-direction: column;
}

.right-side-other-feature img {
	height: 456px;
	margin-left: 80px;
	max-height: 70vw;
}

.list-other-feature {
	border-bottom: 2px solid #EAE8E8;
	margin-left: 36px;
	padding-bottom: 24px;
}

.other-feature-name {
	font-size: 16px;
	line-height: 140%;
	font-weight: 600;
	color: #3D3D3D;
	border-top: 2px solid #EAE8E8;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 32px;
}

.other-feature-panel {
	border-top: 6px solid #40A9FF;
	background-color: white;
	padding: 38px 32px;
	box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
	margin-left: 10px;
	margin-right: 10px;
}

.other-feature-panel p{
	font-size: 14px;
	line-height: 140%;
	color: #3D3D3D;
}

/***************************************** target *****************************************/

.rounded-target {
	background-color: #F4F9FF;
}


.target {
	padding: 116px;
	max-width: 1440px;
	margin: 0 auto;
}

.target .content-section {
	margin-top: 16px;
	margin-bottom: 16px;
}

.list-target {
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
}

.target-item {
	border: 1px solid #828282;
}

.title-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 18px;
	background: #25488D;
}


.target-center {
	margin-left: 32px;
	margin-right: 32px;
}

.title-name {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
}

.content-card {
	padding: 24px;
	color: #828282;
	font-size: 14px;
	line-height: 140%;
}

/***************************************** question *****************************************/

.question {
	padding: 116px;
	max-width: 1440px;
	margin: 0 auto;
}

.question .title-section {
	margin-bottom: 16px;
}

.question .content-section {
	margin-bottom: 40px;
}

.accordion-question {
	cursor: pointer;
	transition: 0.4s;
}

.accordion-question:after {
  content: '\002B';
  color: #A6A6A6;
  float: right;
	font-size: 20px;
}

.accordion-question:after:hover {
	content: '\002B';
  color: #25488D;
}

.accordion-active:after {
  content: "\2212";
	font-size: 20px;
}

.panel {
  /* padding: 0 18px; */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.question-item {
	padding-top: 24px;
	padding-bottom: 32px;
	margin-left: 220px;
	margin-right: 220px;
	border-bottom: 1px solid #EAE8E8;
}
.accordion-question {
	color: #171717;
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
}

.panel p{
	margin-top: 10px;
	font-size: 14px;
	line-height: 140%;
	color: #828282;
}

/***************************************** start-panchat *****************************************/

.rounded-start-panchat {
	background-color: #25488D;
}

.start-panchat {
	padding: 116px 116px 0 116px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
}

.start-panchat img {
	height: 600px;
	max-height: 80vw;
}

.start-panchat .content-section {
	margin-bottom: 16px;
	color: white;
}

.start-panchat .quote-section {
	margin-bottom: 32px;
	color: white;
}

.start-panchat .btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-panchat .btn-text {
	margin-right: 8px;
}

/***************************************** footer *****************************************/

footer {
	display: flex;
	justify-content: space-between;
	padding: 64px 116px 0px 116px;
	max-width: 1440px;
	margin: 0 auto;
}

footer .logo {
	justify-content: flex-start;
	margin-bottom: 32px;
}

.left-side-footer {
	align-items: flex-start;
}

.quote-app, .copyright {
	font-size: 14px;
	line-height: 140%;
	color: #828282;
	margin-bottom: 32px;
}

footer .nav-item {
	font-weight: 500;
	margin-bottom: 96px;
}

.get-app {
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
	color: #25488D;
}

.down-app img{
	height: 40px;
}

.app-store {
	margin-bottom: 16px;
	margin-top: 16px;
}

.ch-play {
	margin-bottom: 86px;
}

.social {
	display: flex;
	justify-content: space-between;
}

.copyright-sm {
	display: none;
}

@media screen and (max-width: 1300px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}

	.question-item {
		margin-left: 180px;
		margin-right: 180px;
	}
}


@media screen and (max-width: 1250px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}
	
	header, footer, .intro, .target, .manage, .other-feature, .question, .start-panchat{
		padding-right: 86px;
		padding-left: 86px;
	}

	.slogan {
		font-size: 40px;
	}

	.content-intro {
		font-size: 16px;
	}

	.background-rotate {
		right: -30px;
	}

	.content-section {
		font-size: 30px;
	}

	.feature-title p {
		font-size: 28px;
	}

	.right-side-other-feature {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.right-side-other-feature img {
		height: 430px;
	}

	.right-side-connect-pos img  {
		height: 380px;
		margin-left: 60px;
	}

	.question-item {
		margin-left: 150px;
		margin-right: 150px;
	}

	.start-panchat img {
		height: 500px;
	}
}


@media screen and (max-width: 1150px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}
	
	.right-side-intro img{
		height: 450px;
	}

	.right-side-connect-pos img  {
		height: 380px;
		margin-left: 40px;
	}

	.background-rotate {
		width: 520px;
		height: 520px;
		right: 0px;
		top: -5px;
	}

	.question-item {
		margin-left: 100px;
		margin-right: 100px;
	}

	.start-panchat img {
		height: 400px;
	}
}

@media screen and (max-width: 1050px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}

	.right-side-intro img{
		height: 420px;
	}
	
	/* header, footer, .intro, .target, .manage, .other-feature, .question, .start-panchat{
		padding-right: 86px;
		padding-left: 86px;
	} */

	/* .intro {
		flex-direction: column-reverse;
	} */

	.right-side-intro {
		display: flex;
		justify-content: center;
	}

	.rounded-side-pos {
		flex-direction: column-reverse;
	}

	.feature-title {
		display: flex;
		justify-content: center;
	}

	.question-item {
		margin-left: 40px;
		margin-right: 40px;
	}

	.feature-title-sm {
		visibility: visible;
	}

	.right-side-connect-pos {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0;
		margin-left: 0;
	}

	.feature-title-xl {
		visibility: hidden;
	}

	.rounded-manage {
		flex-direction: column;
	}

	.feature-title-xl {
		display: none;
	}

	.left-side-manage {
		margin-right: 0;
		display: flex;
		justify-content: center;

	}

	.right-side-manage {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.manage-first-item {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 24px;
	}

	.rounded-other-feature {
		flex-direction: column-reverse;
	}

	.right-side-other-feature img {
		height: 400px;
		margin-left: 0;
	}
}

@media screen and (max-width: 950px) {
	.right-side-intro img{
		height: 350px;
	}

	.background-rotate {
		width: 485px;
		height: 485px;
		border-radius: 60px;
		right: -140px;
		top: -110px;
	}
}

@media screen and (max-width: 875px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}
	
	header, footer, .intro, .target, .manage, .other-feature, .question, .start-panchat{
		padding-right: 64px;
		padding-left: 64px;
	}

	.left-side-header .nav {
		display: none;
	}

	.right-side-header {
		display: none;
	}

	.menu-sm {
		display: block;
	}

	.nav-sm {
		position: absolute;
		width: 100vw;
		/* display: none; */
		/* background-color: red; 
		top: 80px;
		/* padding: 16px 16px; */
		/* transition: all 0.2s ease-in-out; */
		z-index: 1000;
		background-color: white;
		box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
	}

	.nav-sm li {
		color: #171717;
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 24px;
		margin-left: 64px;
		margin-right: 64px;
	}

	.nav-sm ul {
		border-bottom: 1px solid #f3f3f3;
		margin-bottom: 24px;
	}

	.btn-sm {
		margin-left: 64px;
		margin-right: 80px;
		margin-bottom: 24px;
	}

	.toggle-nav-sm {
		display: block;
		transition: all 1s ease-in-out;
	}

	.intro {
		flex-direction: column-reverse;
		padding: 64px;
	}
	
	.left-side-intro {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.slogan {
		font-weight: 600;
		font-size: 34px;
		text-align: center;
	}
	
	.content-intro {
		font-size: 18px;
		text-align: center;
		color: #828282;
	}
	
	.title-section {
		font-size: 16px;
		text-align: center;
		color: #40A9FF;
	}
	
	.content-section {
		font-size: 22px;
		text-align: center;
		color: #25488D;
	}
	
	.quote-section {
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: #828282;
	}
	
	.background-rotate {
		width: 585px;
		height: 585px;
		border-radius: 60px;
		right: -140px;
		top: -110px;
	}
	
	.right-side-intro img{
		z-index: 2;
		height: 500px;
		margin-left: 0;
		margin-bottom: 60px;
	}

	.title-section {
		font-size: 14px;
	}

	.feature .content-section {
		color: #FFFFFF;
		margin-top: 16px;
		margin-bottom: 16px;
		text-align: center;
		font-size: 22px;
	}

	.quote-section {
		font-size: 14px;
	}

	.feature-title {
		flex-direction: column-reverse;
		align-items: center;
	}

	.feature-title p {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 8px;
	}

	.connect-pos {
		padding: 40px 36px 40px 36px;
		margin-left: 40px;
		margin-right: 40px;
		background: #FFFFFF;
		border-radius: 8px 8px 0px 0px;
	}

	.manage {
		padding: 84px 64px;
	}

	.other-feature {
		padding: 0px 90px 64px 90px;
		
	}

	.list-target {
		flex-direction: column;
	}
	
	.target-item {
		border: 1px solid #828282;
	}
	
	.title-card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 18px;
		background: #25488D;
	}
	
	
	.target-center {
		margin-left: 0;
		margin-right: 0;
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.accordion-question {
		color: #171717;
		font-size: 16px;
	}

	.list-other-feature {
		margin-left: 0;
	}
	
	footer {
		flex-direction: column;
	}

	footer .nav {
		flex-wrap: wrap;
	}

	footer .nav-item {
		margin-bottom: 24px;
	}

	.ch-play {
		margin-bottom: 48px;
	}

	.rounded-get-app {
		display: flex;
		margin-top: 16px;
	}

	.app-store {
		margin-top: 0;
		margin-right: 16px;
	}

	.copyright {
		display: none;
	}

	.social {
		justify-content: flex-start;
		margin-bottom: 24px;
	}

	.social img {
		margin-right: 24px;
	}

	.copyright-sm {
		display: block;
		margin-bottom: 40px;
		font-size: 14px;
		color: #828282;
	}

	.start-panchat img {
		height: 300px;
	}
}

@media screen and (max-width: 575px) {
	body {
		overflow-x: hidden !important;
	}
	
	.container {
		max-width: 100% !important;
		overflow-x: hidden !important;
	}
	
	header, footer, .intro, .target, .manage, .other-feature, .question, .start-panchat, .rounded-content-feautre .content-section, .rounded-content-feautre .quote-section{
		padding-right: 16px;
		padding-left: 16px;
	}

	.nav-sm li {
		margin-left: 17px;
		margin-right: 32px;
	}

	.btn-sm {
		margin-left: 17px;
		margin-right: 32px;
	}

	.right-side-intro img{
		height: 300px;
	}

	.background-rotate {
		width: 340px;
		height: 340px;
		border-radius: 60px;
		right: -80px;
		top: -20px;
	}

	.left-side-intro {
		align-items: flex-start;
	}

	.slogan {
		text-align: left;
	}
	
	.content-intro {
		text-align: left;
	}

	.right-side-connect-pos img {
		height: 224px;
		padding-left: 0;
		margin-left: 0;
	}

	.connect-pos {
		padding: 32px 16px 32px 16px;
		margin-left: 16px;
		margin-right: 16px;
		border-radius: 8px 8px 0px 0px;
	}

	.rounded-feature-item {
		flex-direction: column;
		margin-left: 0;
	}

	.feature-item-left {
		margin-right: 0;
		margin-bottom: 24px;
	}

	.fist-connect-pos {
		margin-bottom: 24px;
		margin-top: 32px;
		margin-left: 0;
	}

	.right-side-manage {
		flex-direction: column;
	}

	.manage-first-item {
		margin-bottom: 24px;
		margin-right: 0;
	}

	.list-other-feature img{
		height: 240px;
	}

	.target, .question {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.start-panchat {
		padding-top: 64px;
	}

	.question-item {
		margin-left: 16px;
		margin-right: 16px;
	}

	.start-panchat img {
		height: 220px;
	}

}